<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cafc5a47-349b-4b3f-be71-e181e424ed70/resourceGroups/webapp_infra/providers/Microsoft.Web/sites/ASPNetEmptymm</ResourceId>
    <ResourceGroup>webapp_infra</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://aspnetemptymm.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://aspnetemptymm.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ASPNetEmptymm</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>