@page
@model cs190_final_proj.Pages.AmericanModel
@{
    ViewData["Title"] = "American";
}

<div class="text-center">

    <h1>Pearl's Deluxe Burger</h1>
    Menu: https://pearlsdeluxe.com/menu.html
</div>

<body>

    <p class="text-center">
        Restaurant Location
        
        <!-- this needs to be an api key.-->
        <div class="text-center">
            <img src = "https://maps.googleapis.com/maps/api/staticmap?center=37.788477,-122.413852&zoom=13&size=600x300&maptype=roadmap
             &markers=color:red%7Clabel:P%7C37.788477,-122.413852
             &key=AIzaSyC-X2sAORPwikxlVC30ed3ZS4YFCdKm1xY"

        </div>
    </p>


</body>

