@page
@model cs190_final_proj.Pages.ChineseModel
@{
    ViewData["Title"] = "Chinese";
}

<div class="text-center">

    <h1>Dumpling Home</h1>

</div>

<body>

    <p class="text-center">
        Restaurant Location

        <!-- this needs to be an api key.-->
        <div class="text-center">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=37.77599855623242,-122.4226039173008&zoom=13&size=600x300&maptype=roadmap
             &markers=color:red%7Clabel:D%7C37.77599855623242,-122.4226039173008
             &key="

        </div>
    </p>


</body>

