@page
@model cs190_final_proj.Pages.IndianModel
@{
    ViewData["Title"] = "Indian";
}

<div class="text-center">

    <h1>Curry Leaf</h1>

</div>

<body>

    <<p class="text-center">
        Restaurant Location
        
        <!-- this needs to be an api key.-->
        <div class="text-center">
            <img src = "https://maps.googleapis.com/maps/api/staticmap?center=37.803317175826685,-122.41448890195461&zoom=13&size=600x300&maptype=roadmap
             &markers=color:red%7Clabel:C%7C37.803317175826685,-122.41448890195461
             &key="

        </div>
    </p>


</body>

