@page
@model  cs190_final_proj.Pages.ItalianModel
@{
    ViewData["Title"] = "Italian";
}
<div class="text-center">

    <h1>Fiorella Sunset</h1>
   Menu: http://www.fiorella-sf.com/menus
</div>

<body>

    <p class="text-center">
        Restaurant Location

        <!-- this needs to be an api key.-->
        <div class="text-center">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=37.76531951907294,-122.46624934799112&zoom=13&size=600x300&maptype=roadmap
             &markers=color:red%7Clabel:F%7C37.76531951907294,-122.46624934799112
             &key=AIzaSyC-X2sAORPwikxlVC30ed3ZS4YFCdKm1xY"

        </div>
    </p>


</body>

