@page
@model cs190_final_proj.Pages.MexicanModel
@{
    ViewData["Title"] = "Mexican";
}

<div class="text-center">

    <h1>La Taqueria</h1>

</div>

<body>

    <p class="text-center">
        Restaurant Location

        <!-- this needs to be an api key.-->
        <div class="text-center">
            <img src="https://maps.googleapis.com/maps/api/staticmap?center=37.75105725014793,-122.41823690751797&zoom=13&size=600x300&maptype=roadmap
             &markers=color:red%7Clabel:L%7C37.75105725014793,-122.41823690751797
             &key="

        </div>
    </p>


</body>

