@page
@model SearchModel
@{
    ViewData["Title"] = "search";
}

<div class="text-center">
    <h2>Select the type of cuisine you want</h2>
    <hr>
</div>


<body>
    <!--This is the button template we need to add to create buttons

    <a href="/template" class="button" target="_self">



    </a>

    -->
    <!-- <a href="/template" class="button" target="_self">

        <img src="https://static.vecteezy.com/system/resources/previews/010/178/999/large_2x/cartoon-small-pizza-file-free-png.png" width="350" />

    </a> -->
    <!--Text name and button-->
    <div class="text-center">

        <h1>Italian</h1>
    </div>
    <div style="text-align:center">
        <a href="/Italian" class="button" target="_self">

            <img src="https://static.vecteezy.com/system/resources/previews/009/887/173/non_2x/spaghetti-italian-pasta-with-tomato-sauce-free-png.png" width="350" />

        </a>
    </div>


    <div class="text-center">

        <h1>American</h1>
    </div>
    <div style="text-align:center">
    <a href="/American" class="button" target="_self">

        <img src="https://static.vecteezy.com/system/resources/previews/019/607/061/non_2x/burger-graphic-clipart-design-free-png.png" width="350" />

        </a>
    </div>


    <div class="text-center">

        <h1>Chinese</h1>
    </div>
    <div style="text-align:center">
    <a href="/Chinese" class="button" target="_self">

        <img src="https://static.vecteezy.com/system/resources/previews/017/345/907/non_2x/dim-sum-of-shumai-chinese-food-shrimp-golden-bag-free-png.png" width="350" />

        </a>
    </div>


    <div class="text-center">

        <h1>Indian</h1>
    </div>
    <div style="text-align:center">
    <a href="/Indian" class="button" target="_self">

        <img src="https://static.vecteezy.com/system/resources/previews/022/944/865/non_2x/masala-dosa-indian-traditional-food-with-sambhar-decorated-on-plate-free-png.png" width="350" />

        </a>
    </div>


    <div class="text-center">

        <h1>Mexican</h1>
    </div>
    <div style="text-align:center">
    <a href="/Mexican" class="button" target="_self">

        <img src="https://static.vecteezy.com/system/resources/previews/023/477/423/non_2x/ai-generative-mexican-food-free-png.png" width="350" />

        </a>
    </div>

    <!-- <img src="https://static.vecteezy.com/system/resources/previews/010/178/999/large_2x/cartoon-small-pizza-file-free-png.png" width="350" align="right"/> -->
</body>
</html>
