@page
@model SearchModel
@{
    ViewData["Title"] = "search";
}

<div class="text-center">
    <h2>Select the type of cuisine you want</h2>
    <hr>
</div>

<body>
    
    <div>
        
        <p>test</p>
    </div>

</body>
<!DOCTYPE html>
<html>
<body>
    <!--This is the button template we need to add

    <a href="/template" class="button" target="_self">



    </a>

    -->
    <a href="/template" class="button" target="_self">

        random

    </a>
    
</body>
</html>