@page
@model StudentInfoModel
@{
    ViewData["Title"] = "Student Info";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h5>Anthony Scott</h5>
    <p>type your info here</p>
    <hr>
</div>

<div>
    <h5>Mehma</h5>
    <p>type your info here</p>
    <hr>
</div>

<div>
    <h5>Prithvi</h5>
    <p>type your info here</p>
    <hr>
</div>

<div>
    <h5>Daniella</h5>
    <p>type your info here</p>
    
</div>

