@page
@model StudentInfoModel
@{
    ViewData["Title"] = "Student Names";
}
<h1>@ViewData["Title"]</h1>

<div>
    <h5>Anthony Scott</h5>
    
    <hr>
</div>

<div>
    <h5>Mehma Mand</h5>
    
    <hr>
</div>

<div>
    <h5>Prithvi</h5>
  
    <hr>
</div>



